h1, h2, h3 {
 font-family: 'Nanum Myeongjo', serif;
}
.main__container {
  max-width: 1080px;
  margin: 0 auto;
}
.main {
  background-image: url('https://wallpaperplay.com/walls/full/8/0/f/64787.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header__container{
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}
.header{
  color: silver;
  padding: 0;
  background: #000;
  border-bottom: 3px solid darkgoldenrod;
}
.img__contain {
  width: 200px;
  height: 200px;
  background-image: url('https://pm1.narvii.com/6570/606927768080758d8f2be85e09fb07b2359dfb7b_hq.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_title {
  margin: 0;
  img{
    max-height: 190px;
  }
}